{{ define "body" }}
    <section>
        <div class="container">
            <h2>{{ .Adjective }}{{ .Name }}</h2>

            <p>{{ .Description }}</p>

            <br />
            <p>Read more on Wikipedia:</p>
            {{ range $url := .Urls }}
                <p><a href="{{ $url }}">{{ $url }}</a></p>
            {{ end }}
        </div>
    </section>

    <section class="bottom-bar">
        <p>Do you just want <a href="/plain">a hostname in plain text?</a></p>
    </section>

    <section class="bottom-bar">
        <p><a href="/about">about</a></p>
        <p>|</p>
        <p>created by <a href="https://github.com/mylk">mylk</a></p>
    </section>
{{ end }}

